workflows/factory_copilot_workflow.json
{
  "name": "Factory Copilot - Predictive Maintenance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-node",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 240]
    },
    {
      "parameters": {
        "path": "factory-copilot/check-now",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "manual-webhook-node",
      "name": "Check Now Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/fleet",
        "options": {}
      },
      "id": "fleet-node",
      "name": "Get Fleet Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "jsCode": "const fleet = $input.first().json;\nconst machines = fleet.machines || [];\nconst critical = machines.filter(m => m.risk_level === 'critical');\nconst warning = machines.filter(m => m.risk_level === 'warning');\n\nreturn [{\n  json: {\n    has_critical: critical.length > 0,\n    has_warning: warning.length > 0,\n    critical_machines: critical,\n    warning_machines: warning,\n    fleet_summary: fleet.fleet_summary,\n    all_machines: machines,\n    voice_agent_trigger: critical.length > 0,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-node",
      "name": "Process & Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "critical-condition",
              "leftValue": "={{ $json.has_critical }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-critical-node",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 320]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst machine = data.critical_machines[0];\n\nconst workOrder = {\n  work_order_id: `WO-${new Date().toISOString().slice(0, 10).replace(/-/g, '')}-${machine.engine_id.toString().padStart(3, '0')}`,\n  machine_id: machine.engine_id,\n  priority: 'CRITICAL',\n  issue: `Predicted failure within ${machine.rul_hours}h`,\n  failure_probability: `${machine.failure_probability}%`,\n  anomaly_detected: machine.anomaly_detected,\n  estimated_downtime_cost: `EUR ${(machine.rul_hours * 87).toFixed(0)}`,\n  actions: [\n    'Stop machine if vibration exceeds 6mm/s',\n    'Inspect bearing assembly immediately',\n    'Check lubrication and top up if below minimum',\n    'Measure spindle runout and replace if wear exceeds tolerance',\n    'Document findings and sign off the work order'\n  ],\n  created_at: new Date().toISOString(),\n  agent: 'Factory Copilot AI'\n};\n\nreturn [{ json: { work_order: workOrder, machine: machine, voice_agent_trigger: true } }];"
      },
      "id": "workorder-node",
      "name": "Generate Work Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst summary = data.fleet_summary;\nconst machines = [...data.all_machines];\n\nconst report = {\n  report_type: 'fleet_health_check',\n  timestamp: new Date().toISOString(),\n  summary: {\n    total: summary.total_machines,\n    healthy: summary.healthy,\n    warning: summary.warning,\n    critical: summary.critical,\n    avg_health: summary.avg_health\n  },\n  top_risks: machines\n    .sort((a, b) => a.rul_hours - b.rul_hours)\n    .slice(0, 3)\n    .map(m => ({\n      machine_id: m.engine_id,\n      rul_hours: m.rul_hours,\n      risk: m.risk_level,\n      recommendation: m.recommendation\n    })),\n  voice_agent_trigger: data.voice_agent_trigger,\n  next_check: new Date(Date.now() + 5 * 60 * 1000).toISOString()\n};\n\nreturn [{ json: report }];"
      },
      "id": "report-node",
      "name": "Generate Health Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const alerts = $input.all(0).map(item => item.json);\nconst reports = $input.all(1).map(item => item.json);\n\nreturn [{\n  json: {\n    status: 'ok',\n    checked_at: new Date().toISOString(),\n    generated_alerts: alerts.length,\n    alerts,\n    reports\n  }\n}];"
      },
      "id": "merge-node",
      "name": "Store Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "response-node",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [1560, 320]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Fleet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Now Webhook": {
      "main": [
        [
          {
            "node": "Get Fleet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fleet Status": {
      "main": [
        [
          {
            "node": "Process & Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Evaluate": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Generate Work Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Health Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Work Order": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Health Report": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Store Result": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "factory-copilot",
    "predictive-maintenance"
  ]
}
